doctype html
head
  meta(charset='UTF-8')
  title Delete Movie
  style.
    html {
    height: 100%;
    }
    body {
    margin: 0;
    padding: 0;
    background:
    url("https://cdn.pixabay.com/photo/2018/02/27/15/40/backgroun
    d-3185765_1280.jpg");
    background-attachment: fixed;
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    }
    /* For the center container */
    .center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    V 1.0 © Aptech Limited
    /* login box */
    .login-box {
    width: 400px;
    padding: 40px;
    background: rgba(226, 53, 157, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(226, 53, 157, 0.5);
    border-radius: 10px;
    }
    .login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #520340;
    text-align: center;
    }
    /* User input box */
    .login-box .user-box {
    position: relative;
    }
    .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    }
    .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
    }
    .login-box .user-box input:focus ~ label,
    .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #520340;
    V 1.0 © Aptech Limited
    font-size: 12px;
    }
    /* Submit button */
    .login-box-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ee0754;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background: #520340;
    border-radius: 5px;
    box-shadow: 0 0 5px #520340, 0 0 25px #520340, 0 0
    50px #520340,
    0 0 100px #520340;
    }
    .login-box-button:hover {
    background: #fff;
    color: #520340;
    }
.center-container
  .login-box
    h2 Delete Movie
    form#movie-form(action='/delete-movie' method='POST')
      .user-box
        // Dropdown for selecting a movie to delete
        select#movie-category(name='Movie name')
          option(value='') Select a movie
      // Submit button to delete a movie
      button.login-box-button(type='submit')
        span
        span
        span
        span
        | Submit
    | V 1.0 &copy; Aptech Limited
script.
  async function getMovieList() {
  // To get the movie category dropdown
  const movieCategoryDiv =
  document.getElementById("movie-category");
  try {
  // To fetch the movie name from the databse
  const response = await fetch(`/get-all-movies`);
  const data = await response.json();
  // To display the fetched movie name list
  displayMovieList(data);
  } catch (error) {
  // display error
  console.error("Error fetching movies:", error);
  }
  }
  // Function to display the movie list in the dropdown
  function displayMovieList(movies) {
  // To get the movie category dropdown
  const movieCategoryDiv =
  document.getElementById("movie-category");
  if (movies.length === 0) {
  // Display a message if no movies are found in the
  // database
  movieCategoryDiv.textContent = `No movies found`;
  } else {
  // Fetch the movie name and display in the dropdown
  movies.forEach((movie) => {
  let option = document.createElement("option");
  option.setAttribute("value", movie["Movie
  name"]);
  let optionText =
  document.createTextNode(movie["Movie name"]);
  option.appendChild(optionText);
  movieCategoryDiv.appendChild(option);
  });
  movieCategoryDiv.style.display = "block";
  // Show the box when movies are available
  }
  }
  // Call the function to fetch movies when the
  // page loads
  document.addEventListener("DOMContentLoaded",
  getMovieList());
  V 1.0 © Aptech Limited
